.password_input-common-1{
    width: 100%;
    height: 100%;
    margin: .5em 0;
    position: relative;
}
.password_input-common-1 input{
    background-color: #e8effa;
    border: none;
    outline: none;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(39, 43, 53, 0.42);
    width: 100%;
    height: 1.8em;
    padding: 0 .5em;
    font-size: 1em;
}