/* ================================================================================================================ */
/*                                                  FONT LIST                                                       */
/* ================================================================================================================ */
/* PLAYFAIR DISPLAY */
@font-face {
    font-family: 'Playfair Display';
    src: url('/fonts/PlayfairDisplay/PlayfairDisplay-VariableFont_wght.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* END PLAYFAIR DISPLAY */

/* LATO */
@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* END LATO */

/* MONTSERRAT */
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat/Montserrat-Regular.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Thin';
    src: url('/fonts/Montserrat/Montserrat-Thin.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('/fonts/Montserrat/Montserrat-SemiBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
/* END MONTSERRAT */


/* ================================================================================================================ */
/*                                        DEFAULT ELEMENT FONT FAMILY                                               */
/* ================================================================================================================ */
h1, h2, h3, h4, h5, h6, button {
    font-family: 'Montserrat-SemiBold', serif;
    font-weight: 700;
}

p, label, span, a {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
}

/* ================================================================================================================ */
/*                                           DEFAULT ELEMENT STYLE                                                  */
/* ================================================================================================================ */

/* GENERAL STYLE */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #ffffff 0%, #f3faff 30%, #f0f8ff 60%, #e9f5ff 100%);
    min-height: 100vh;

    transition: background 0.3s ease;
}
main {
    padding-top: 70px;
}
input {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 1.2em;
}
/* END GENERAL STYLE */

/* GENERAL TABLE STYLE */
.tblPointerRow tr{
    cursor: pointer;
}
/* END GENERAL TABLE STYLE */

/* GENERAL ICON STYLE */
.actionIcon{
    width: 1em;
    cursor: pointer;
}
/* END GENERAL ICON STYLE */
