
@import "global-style/global-style.css";

/*@import "library/container/container-common-style.css";*/
/*@import "library/button-collection/button-common-style.css";*/
/*@import "library/input-collection/input-common-style.css";*/
/*@import "library/message-box/message-box-style.css";*/

@import "TA/upload-style.css";
@import "TA/doc_list-style.css";
@import "TA/login-style.css";
@import "TA/page_not_found-style.css";
@import "TA/ai_agent-style.css";
@import "TA/head_nav-style.css";
@import "TA/home-style.css";
@import "TA/va_voice-style.css";
@import "TA/va_fallback_notif-style.css";

